@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-dark: #1e3a8a;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-slate-900 antialiased;
  }
}
